#navbar {
	z-index: 1;
	height: 10%;
	width: 100%;
	position: fixed;
	background-color: #E0162B;
	top: 0px;
	right: 0px;
	left: 0px;
}
#navbar > * {
	float: left;
	height: 100%;
}
.navitem {
	background-color: #E0162B;
	overflow: hidden;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 0 1%;
	font-family: Poppins, Lato, Arial;
	font-weight: normal;
}
:not(.navitem) {
	font-family: "Open Sans", Roboto, Arial;
}
.navitem:hover {
	background-color: #E05463;
}
#pagestretch {
	height: 3000px;
	width: 100%;
	background: #05C900;
	background: linear-gradient(-30deg, black, white);
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
}
body > :not(#navbar) {
	position: absolute;
	top: 10%;
}