#navbar {
	z-index: 1;
	height: 10%;
	width: 100%;
	position: fixed;
	background-color: #E0162B;
	top: 0px;
	right: 0px;
	left: 0px;
}
#navbar > * {
	float: left;
	height: 100%;
}
#logo-container {
	
}
.navlink,#logo {
	height: 100%;
	overflow: hidden;
}
.navlink {
	background-color: #E0162B;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	/*white-space: nowrap;*/
	font-family: Poppins, Lato, Arial;
	color: inherit;
	text-decoration: inherit;
	border-bottom: black solid 2px;
}
.navlink:not(#logo-container) {
	padding: 0 1%;
}
:not(.navlink) {
	font-family: "Open Sans", Roboto, Arial;
}
.navlink:hover {
	background-color: #E05463;
}
.navlink .navhighlight {
	/*this works(?)*/
	width: 0;
	flex-basis: 5%;
	/*border-radius: 30%;*/
	background-color: black;
	transition: width 0.5s;
}
.navlink:hover .navhighlight {
	width: 75%;
	height: 10%;
}
#pagestretch {
	height: 3000px;
	width: 100%;
	background: #05C900;
	background: linear-gradient(-30deg, black, white);
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
}
body > :not(#navbar) {
	position: absolute;
	top: 10%;
}