#faq-container {
	margin-left: 5vw;
	margin-right: 10vw;
	min-height: 50vh;
}
#faq-container, #faq-container ul {
	list-style-type: none;
}
.question {
	font-size: 2em;
}
.answer {
	margin-top: 2vw;
	margin-bottom: 2vw;
	padding-left: 5vw;
	padding-right: 5vw;
	font-size: 0.75em;
}
/*#faqload {
	height: 5vw;
	width: 5vw;
	top: 50%;
	left: 50%;
	margin: -2.5vw 0 0 -2.5vw;
}*/
/*#faq-container > * {
	text-align: center;
}*/