/*body { width: auto; overflow: visible;}*/
#fulllogo-container {
	max-width: 100vw;
	height: 10vh;
	min-height: 50px;
	width: auto;
	text-align: center;
	border-bottom: 2px solid #EBEBEB;
	padding-top: 1vh;
	padding-bottom: 1vh;
}
#fulllogo {
	object-fit: contain;
	height: 100%;
	width: 100%;
}
.stat {
	width: auto !important;
	height: 10vh !important;
	position: static !important;
	border-bottom: 2px solid #EBEBEB !important;
}
.invis {
	display: none;
}
#maininfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: fit-content;
	width: fit-content;
	/*height: 70vh;*/
	/*width: 100vw;*/
	/*max-height: 30em;*/
	/*max-width: 60em;*/
	border: 1px solid black;
	background-color: #D9E7FF;
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding: 2em;
}
#map {
	width: 75%;
	height: 37vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
}
#schedule-container {
	width: 100%;
	height: auto;
	overflow-x: auto;
}
#schedule {
	/*width: 75%;*/
	max-width: 75%;
	border-collapse: collapse;
}
#schedule td:nth-child(2), #schedule td:nth-child(3) {
	white-space: nowrap;
	word-break: none;
	text-align: center;
	padding-left: 1vw;
	padding-right: 1vw;
}
#schedule td, #schedule th {
	border: 1px solid black;
	width: auto;
}
/*@media all and (orientation: portrait) {
	.slidearrow-container {
		background-color: red;
	}
}*/
