#navbar {
	/*clear: both;*/
	z-index: 1;
	height: 10%;
	min-height: 50px;
	width: 100%;
	position: fixed;
	background-color: #E0162B;
	top: 0px;
	right: 0px;
	left: 0px;
	transition: box-shadow 0.25s;
}
/*#navbar > * {
	height: 100%;
}*/
#logo-container {
}
.navlink,#logo {
	height: 100%;
	overflow: hidden;
	float: left;
}
.navlink {
	min-width: 0;
	width: -webkit-fit-content;
	width: fit-content;
	background-color: #E0162B;
	white-space: nowrap;
	font-family: Poppins, Lato, Arial;
	color: inherit;
	text-decoration: inherit;
	/*border-bottom: black solid 2px;*/
	margin: 0;
}
#logo {
	background-color: white;
	border-radius: 100%;
	box-shadow: none;
	transition: box-shadow 0.5s;
}
#logo:hover {
	box-shadow: 0 0 10px 5px white;
}
.navlink:not(#logo-container) {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 0 2%;
}
:not(.navlink) {
	font-family: "Open Sans", Roboto, Arial;
}
.navlink:hover {
	background-color: #E05463;
}
.navlink .navhighlight {
	/*this works(?)*/
	width: 0;
	flex-basis: 5%;
	/*border-radius: 30%;*/
	background-color: black;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}
.navlink:hover .navhighlight {
	width: 75%;
	height: 10%;
}
#spacer {
	top: 0;
	left: 0;
	right: 0;
	float: left;
	height: 10vh;
	min-height: 50px;
	width: 100%;
}
.shadowed {
	box-shadow: 0px 1px 20px 0px black;
}