html, body {
	padding: 0;
	margin: 0;
}
#navbar {
	/*clear: both;*/
	margin-top: 0;
	z-index: 1;
	height: 10%;
	min-height: 50px;
	width: 100%;
	position: fixed;
	/*background-color: #E0162B;*/
	background-color: white;
	top: 0px;
	right: 0px;
	left: 0px;
	-webkit-transition: box-shadow 0.25s;
	transition: box-shadow 0.25s;
	/*overflow: hidden;*/
}
/*#navbar > * {
	height: 100%;
}*/
#logo-container {
	overflow: hidden;
	-webkit-transition: background 0.5s;
	transition: background 0.5s;
}
.navlink,#logo {
	height: 100%;
	overflow: hidden;
	float: left;
}
.navlink {
	min-width: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	/*background-color: #E0162B;*/
	background-color: white;
	white-space: nowrap;
	font-family: Poppins, Lato, Arial;
	color: inherit;
	text-decoration: inherit;
	/*border-bottom: black solid 2px;*/
	margin: 0;
}
#logo {
	background-color: white;
	border-radius: 100%;
	box-shadow: none;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	position: relative;
	z-index: 2;
}
#logo-container:hover {
	/*background: #E0162B;*/
	background-color: #EBEBEB;
}
#logo-container:hover #logo {
	box-shadow: 0 0 10px 5px white;
}
.navlink:not(#logo-container) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0 2%;
	color: #383838;
	-webkit-transition: background-color 0.5s, box-shadow 0.5s, color 0.25s;
	transition: background-color 0.5s, box-shadow 0.5s, color 0.25s;
}
:not(.navlink) {
	font-family: "Open Sans", Roboto, Arial;
}
.navlink:not(#logo-container):hover {
	/*background-color: hsla(354, 71%, 49%, 1);*/
	background-color: #EBEBEB;
	/*box-shadow: inset 0px 0px 10px 0px black;*/
	position: relative;
	color: black;
	/*z-index: 3;*/
}
.navlink .navhighlight {
	/*this works(?)*/
	width: 0;
	-ms-flex-preferred-size: 5%;
	    flex-basis: 5%;
	/*border-radius: 30%;*/
	background-color: black;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}
.navlink:hover .navhighlight {
	width: 75%;
	height: 10%;
}
/*#socialmedia {
	float: right;
}
#socialmedia a {
	text-decoration: none;
	color: black;
}*/
#facebook, #twitter {
	position: absolute;
	right: 0;
	height: 3em;
	/*border: 1px solid black;*/
	will-change: opacity;
	transition: opacity 0.25s;
	opacity: 1;
}
#facebook:hover, #twitter:hover {
	opacity: 0.8;
}
#facebook {
	bottom: -3em;
}
#twitter {
	bottom: -6em;
}
.statmedia {
	position: static !important;
	float: right !important;
}
#facebook img, #twitter img {
	height: 100%;
	width: auto;
}
#golfer-container, #golfer {
	height: 100%;
}
#golfer-container {
	float: right;
	right: 0;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	/*display: flex;
	align-items: center;
	text-decoration: none;
	color: black;*/
}
#golfer {
	/*margin-left: 1em;*/
}
#golfer-container:hover {
	opacity: 0.8;
}
#spacer {
	top: 0;
	left: 0;
	right: 0;
	float: left;
	height: 10vh;
	min-height: 50px;
	width: 100%;
}
.shadowed {
	box-shadow: 0px 1px 20px 0px black;
}
@-webkit-keyframes loading_anim {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	} to {
		-webkit-transform: rotate(-360deg);
		        transform: rotate(-360deg);
	}
}
@keyframes loading_anim {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	} to {
		-webkit-transform: rotate(-360deg);
		        transform: rotate(-360deg);
	}
}
.loading {
	-webkit-animation-name: loading_anim;
	        animation-name: loading_anim;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	position: absolute;
}
#footer {
	float: left;
	height: 5vh;
	min-height: 25px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0 -8px;
	background-color: #E0162B;
}
