html, body {
	margin: 0;
	padding: 0;
}
#sponsorcontainer {
	clear: both;
	width: 100%;
	margin: 0;
	text-align: center;
	/*white-space: pre-wrap;*/
	/*padding: 3vw;*/
}
/*.sponsorlevel {
	height: 10vh;
	width: 50vw;
	/*border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: black 0 0 5px 1px;
	font-size: 2em;
	/*margin-left: 25vw; HOW DO I CENTER?
}*/
.sponsorlevel {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	font-family: "Muli", "Open Sans", Roboto, Arial;
	/*font-family:;*/
/*	left: 0px;
	right: 0px;*/
}
#bronze {
	background-color: #a68f33;
	box-shadow: #a68f33 0 0 10px 1px;
}
#silver {
	background-color: #bababa;
	box-shadow: #bababa 0 0 10px 1px;
}
#gold {
	background-color: #fcd825;
	box-shadow: #fcd825 0 0 10px 1px;
}
#platinum {
	background-color: #dbdbdb;
	box-shadow: #dbdbdb 0 0 20px 5px;
}
.sponsor {
	height: 40vh;
	width: 30vw;
	position: relative;
	/*clear: both;*/
	box-shadow: black 0 0 10px 1px;
	display: inline-block;
	margin: 1vh;
	text-decoration: none;
	color: black;
	/*transition: width 3s; DOESN'T WORK*/
}
/*Removed for aesthetics
#platinum ~ .sponsor {
	box-shadow: #dbdbdb 0 0 10px 1px;
}
#gold ~ .sponsor {
	box-shadow: #fcd825 0 0 10px 1px;
}
#silver ~ .sponsor {
	box-shadow: #bababa 0 0 10px 1px;
}
#bronze ~ .sponsor {
	box-shadow: #d6b326 0 0 10px 1px;
}*/
.sponsor:hover {
	cursor: pointer;
}
.sponsorload {
	height: 8vh;
	width: 8vh;
	top: 50%;
	left: 50%;
	margin: -4vh 0 0 -4vh;
}
.sponsorimg {
	height: 100%;
	/*border: solid 2px black;*/
	object-fit: contain;
	/*clear: both;*/
	/*position: relative;*/
	opacity: 0;
	transition: opacity 1s;
}
.sponsorinfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgba(255, 255, 255, 0.5);
	overflow: auto;
	height: 0;
	width: 100%;
	bottom: 0px;
	position: absolute;
	transition: height 0.5s;
	font-size: 1.5em;
}
.sponsor:hover .sponsorinfo {
	height: 100%;
}
#bronzecontainer {
	margin-top: 1vh;
}